# Ignore virtual environments
.venv/
venv/

# Ignore environment files
.env

# Ignore temporary Python files
__pycache__/
*.pyc

# Ignore temp VSCode files
tempCodeRunnerFile*

# Ignore WhatsApp image
WhatsApp*

# Ignore database files (optional)
*.db

# Ignore OS files
.DS_Store
